<article class="list-item" itemscope itemtype="http://schema.org/Blog">
    <h2 class="headline" itemprop="headline">
      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h2>

      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <div class="meta">
        <span class="val">
            <time itemprop="datePublished">
                {{ post.date | date: date_format }}
            </time>
        </span>
      </div>
</article>
