<h1 class="site-title">
  <span class="base05">[</span><span class="base08">b</span><span class="base09">a</span><span class="base0A">s</span><span class="base0B">e</span><span class="base0C">1</span><span class="base0D">6</span><span class="base05">]</span>
</h1>

<div id="grid">
  <div id="box-base00"></div>
  <div id="box-base01"></div>
  <div id="box-base02"></div>
  <div id="box-base03"></div>
  <div id="box-base04"></div>
  <div id="box-base05"></div>
  <div id="box-base06"></div>
  <div id="box-base07"></div>
  <div id="box-base08"></div>
  <div id="box-base09"></div>
  <div id="box-base0A"></div>
  <div id="box-base0B"></div>
  <div id="box-base0C"></div>
  <div id="box-base0D"></div>
  <div id="box-base0E"></div>
  <div id="box-base0F"></div>
</div>

<div style="text-align: center;">
  Add your own "<code>_includes/hero.html</code>" to replace this text.
</div>
