<main role="main" class="homepage">

<h1 class="headline">Posts by #tag </h1>
{% if site.tags.size > 0 %}

{% for tag in site.tags %}

    <div class="article-list">

        <h2 id="{{ tag | first }}"
            itemprop="headline"> 
            #{{ tag | first }}
        </h2>

    <article class="list-item" itemscope itemtype="http://schema.org/Blog">


    {% for post in tag.last %}

        <h2 class="headline" itemprop="headline">
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h2>

        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <div class="meta">
        <span class="val">
            <time itemprop="datePublished">
                {{ post.date | date: date_format }}
            </time>
        </span>
        </div>

    {% endfor %}

    </article>

    </div>
{% endfor %}

{% endif %}

</main>
