/* General Page Layout */

body {
  margin: 0;
  background-color: $base00;
  color: $base07;
  line-height: 1.5;
  font-size: 100%;
  font-family: 'Source Code Pro', monospace;
}

.container {
  max-width: 52em;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
}
.right {
  float:right;
}

div.clearfix {
  overflow: auto;
}

@include respond-to('small') {
  .container {
    width: 100%;
  }
}

.author-social-platforms {
    display: grid;
    grid-template-columns: auto auto auto auto;
    float: right;
    a {
        margin-right: 0.5em;
    }
}

.nav a {
    margin-right: 1em;
}

@include respond-to('small') {
  .container {
    width: 100%;
  }
  .author-social-platforms {
      display: grid;
      grid-template-columns: auto auto;
      width: 100%;
      justify-content: center;
      margin-top: 0em;
      margin-bottom: 1em;
  }
  .nav {
    text-align: center;
    a {
        margin-right: 1em;
        display: inline-block;
    }
  }
}

article.single section,
.article-list article {
  background-color: $base07;
  color: $base00;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@include respond-to('small') {
  article.single section,
  .article-list article {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

header, footer {
  background-color: $base01;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

header a:link {
  text-decoration: none;
  color: $base0D;
}

header a:visited, a:active {
  text-decoration: none;
  color: $base0D;
}

header a:hover {
  color: $base0E;
}

@include respond-to('small') {
  header {
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9em;
  color: $base03;
}

@include respond-to('small') {
  footer {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: .5em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

pre, code {
  font-family: inherit;
  font-size: inherit;
}

/* Header Layout */

header a.path {
  color: $base0D;
}


header span.caret {
  color: $base07;
}

/* Footer Layout */

footer a {
  color: $base03;
  text-decoration: none;
}

/* 404 Page Layout */

.page-not-found h1 {
  text-align: center;
  font-size: 5em;
}

.page-not-found h2 {
  text-align: center;
  font-size: 3em;
  color: $base04;
  margin-bottom: 4rem;
}

@include respond-to('small') {
  .page-not-found h1 {
    font-size: 3em;
  }

  .page-not-found h2 {
    font-size: 2em;
  }
}

/* Homepage Layout */

@include respond-to('small') {
  .homepage {
    margin-bottom: 2rem;
  }
}

.homepage h1.headline {
  font-size: 3em;
  color: $base0A;
}

@include respond-to('small') {
  .homepage h1.headline {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.homepage section.categories,
.homepage section.tags {
  padding-left: 2rem;
  padding-right: 2rem;
}

.homepage .category,
.homepage .category a,
.homepage .tag,
.homepage .tag a {
  color: $base0E;
}

.homepage .tag {
  margin-right: 2em;
}

/* Post List Layout */

.article-list h1.list-title {
  font-size: 3em;
  color: $base0A;
}

.article-list article {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}

.article-list article h2.headline,
.article-list article h2.headline a {
  margin-top: 0;
  color: $base0D;
}

.article-list article .meta {
  margin-bottom: 1rem;
}

.article-list article .meta .key {
  color: $base03;
}

.article-list article .meta .val,
.article-list article .meta .val a {
  color: $base0E;
}

.article-list article section.summary a { color: $base0F; }


/* Single Post Layout */

article.single .meta {
  font-size: 0.9em;
  text-align: right;
}

article.single .meta .key {
  color: $base03;
}

article.single .meta .val, article.single .meta .val a {
  color: $base0E;
}

@include respond-to('small') {
  article.single .meta {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

article.single h1.headline {
  margin-top: 0;
  font-size: 3em;
  color: $base0A;
}

@include respond-to('small') {
  article.single h1.headline {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

article.single section.body {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@include respond-to('small') {
  article.single section.body {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

/* Highlight Colors */

article.single section.body h1 { color: $base0D; }
article.single section.body h2 { color: $base0B; }
article.single section.body h3 { color: $base09; }
article.single section.body h4 { color: $base08; }
article.single section.body h5 { color: $base02; }
article.single section.body h6 { color: $base03; }

article.single section.body a { color: $base0F; }

/* Article Elements */

article.single * {
  max-width: 100%;
}

article.single pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
  border-radius: 3px;
  padding: 0.5rem;
}

article.single p code {
  padding: 0.2em 0.5em;
  border-radius: 3px;
  background: $base03;
  color: $base07;
}

article.single figure, article.single div.highlight {
  box-sizing: border-box;
  max-width: 52rem;
  width: 52rem;
  margin-left: -8rem;
  margin-right: -8rem;
  margin-bottom: 1rem;
  background-color: $base01;
}

@include respond-to('small') {
  article.single figure, article.single div.highlight {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 3px;
  }
}

article.single figure img {
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
}

article.single figure figcaption {
  margin-top: 1rem;
}

article.single figure figcaption h4 {
  margin-top: 0;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  color: $base07;
}

article.single table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

article.single th,
article.single td {
  padding: .25rem 1rem;
  line-height: inherit;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $base04;
}

article.single tr:last-child td {
  border-bottom: 0;
}

article.single th {
  text-align: left;
  font-weight: bold;
  vertical-align: bottom;
}

article.single td { vertical-align: top }

article.single blockquote {
  margin-left: 2rem;
  margin-right: 3rem;
  padding-left: 1rem;
  border-left: 5px solid $base0C;
}

article.single hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $base04;
}

/* Icons */
header a .icon {
    color: $base03;
}

header a:hover .icon {
    color: $base0E;
}

/* Pygments template by Jan T. Sott (https://github.com/idleberg) */

pre { background: $base00; color: $base07 }

.highlight .hll { background-color: $base02 }
.highlight .c { color: $base03 } /* Comment */
.highlight .err { color: $base08 } /* Error */
.highlight .k { color: $base0E } /* Keyword */
.highlight .l { color: $base09 } /* Literal */
.highlight .n { color: $base07 } /* Name */
.highlight .o { color: $base0C } /* Operator */
.highlight .p { color: $base07 } /* Punctuation */
.highlight .cm { color: $base03 } /* Comment.Multiline */
.highlight .cp { color: $base03 } /* Comment.Preproc */
.highlight .c1 { color: $base03 } /* Comment.Single */
.highlight .cs { color: $base03 } /* Comment.Special */
.highlight .gd { color: $base08 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: $base07; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: $base0B } /* Generic.Inserted */
.highlight .gp { color: $base03; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $base0C; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: $base0E } /* Keyword.Constant */
.highlight .kd { color: $base0E } /* Keyword.Declaration */
.highlight .kn { color: $base0C } /* Keyword.Namespace */
.highlight .kp { color: $base0E } /* Keyword.Pseudo */
.highlight .kr { color: $base0E } /* Keyword.Reserved */
.highlight .kt { color: $base0A } /* Keyword.Type */
.highlight .ld { color: $base0B } /* Literal.Date */
.highlight .m { color: $base09 } /* Literal.Number */
.highlight .s { color: $base0B } /* Literal.String */
.highlight .na { color: $base0D } /* Name.Attribute */
.highlight .nb { color: $base07 } /* Name.Builtin */
.highlight .nc { color: $base0A } /* Name.Class */
.highlight .no { color: $base08 } /* Name.Constant */
.highlight .nd { color: $base0C } /* Name.Decorator */
.highlight .ni { color: $base07 } /* Name.Entity */
.highlight .ne { color: $base08 } /* Name.Exception */
.highlight .nf { color: $base0D } /* Name.Function */
.highlight .nl { color: $base07 } /* Name.Label */
.highlight .nn { color: $base0A } /* Name.Namespace */
.highlight .nx { color: $base0D } /* Name.Other */
.highlight .py { color: $base07 } /* Name.Property */
.highlight .nt { color: $base0C } /* Name.Tag */
.highlight .nv { color: $base08 } /* Name.Variable */
.highlight .ow { color: $base0C } /* Operator.Word */
.highlight .w { color: $base07 } /* Text.Whitespace */
.highlight .mf { color: $base09 } /* Literal.Number.Float */
.highlight .mh { color: $base09 } /* Literal.Number.Hex */
.highlight .mi { color: $base09 } /* Literal.Number.Integer */
.highlight .mo { color: $base09 } /* Literal.Number.Oct */
.highlight .sb { color: $base0B } /* Literal.String.Backtick */
.highlight .sc { color: $base07 } /* Literal.String.Char */
.highlight .sd { color: $base03 } /* Literal.String.Doc */
.highlight .s2 { color: $base0B } /* Literal.String.Double */
.highlight .se { color: $base09 } /* Literal.String.Escape */
.highlight .sh { color: $base0B } /* Literal.String.Heredoc */
.highlight .si { color: $base09 } /* Literal.String.Interpol */
.highlight .sx { color: $base0B } /* Literal.String.Other */
.highlight .sr { color: $base0B } /* Literal.String.Regex */
.highlight .s1 { color: $base0B } /* Literal.String.Single */
.highlight .ss { color: $base0B } /* Literal.String.Symbol */
.highlight .bp { color: $base07 } /* Name.Builtin.Pseudo */
.highlight .vc { color: $base08 } /* Name.Variable.Class */
.highlight .vg { color: $base08 } /* Name.Variable.Global */
.highlight .vi { color: $base08 } /* Name.Variable.Instance */
.highlight .il { color: $base09 } /* Literal.Number.Integer.Long */
